.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* new lily code. welcome to change completly xd */

.layout {
  display: flex; /* Establishes a flex container */
  min-height: 100vh; /* Full viewport height */
}

.sidebar {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #f4f4f4; /* Light grey background, adjust as needed */
  padding: 20px; /* Padding around the sidebar content */
}

.main-content {
  flex-grow: 1; /* Takes up the remaining space */
  background-color: #fff; /* White background for the main content area */
}
