.sidebar {
    width: 200px;
    height: 100%;
    background-color: rgb(255, 205, 242);
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .menu-items {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .menu-items li {
    color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
  }
  
  .menu-items li:hover {
    background-color: #df58d3;
  }
  